html, body {
    width:100%;
    height:100%;
}

body { background:#34373D;}

.wrapper {
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
}

.gallery {
    font-size:0.8em;
}

@media (min-width: 768px) {
    .gallery {
        font-size:1em;
    }
}

.gallery button {
    outline:none;
    position:absolute;
    background:none;
    color:#fff;
    border-radius: 50px;
    border: 2px solid #fff;
    font-size:3em;
    bottom:0.5em;
    margin-top:-0.5em;
    background: #333;
    height: 1.5em;
    text-align: center;
    width:auto;
    z-index:10;
    padding:0 0.2em;
}

.gallery button span {
    display:block;
    text-align:center;
    width:1em;
}

.gallery button:hover {
    background:#666;
}

.gallery button.previous {
    left:12.5%;
    margin-left:-0.75em;

}

.gallery button.next {
    right:12.5%;
    margin-right:-0.75em;
}

.gallery .images {
    padding-top: 74.75%;
    position:absolute;
    width:100%;
    height:1px;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin:auto;
}

@media (min-width: 1008px) {
    .gallery .images {
        padding-top:0;
        height:754px;
    }
}

.gallery .image {
    position:absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    height:100%;
    text-align:center;
    -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
}

.gallery .image img {
    width:auto;
    max-width:100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.gallery .image.right {
    -webkit-transform: translate3d(150%, 0, 0);
    -moz-transform: translate3d(150%, 0, 0);
    transform: translate3d(150%, 0, 0);
}

.gallery .label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7.5em;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9));
    color: #fff;
    text-shadow: 0px 2px 6px #000;
}

.gallery .label-wrapper {
    width:50%;
    max-width:504px;
    margin:auto;
}

.gallery .label h1 {
    margin: 0.8em 0 0.3em;
}

.gallery .label p {
    margin:0;
    line-height: 1.42;
}

.gallery .spinner {
    display:none;
    font-size:3em;
    color:#fff;
    position:absolute;
    width:1em;
    height:1em;
    top:0;bottom:0;left:0;right:0;
    margin:auto;
}

.gallery.loading .spinner {
    display:block;
}

.gallery.loading button,
.gallery.loading .label h1,
.gallery.loading .label p {
    display:none;
}

